<div class="container" ng-controller="TaggingController">
    <div class="page-header">
        <h1>Push - Tags</h1>
    </div>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <div class="row">
        <div class="col-md-6 column">
            <p>
                Many Devices can be tagged here. To tag the devices a JQL query must be given which results in a list of
                devices.
            </p>

            <p>
                <code>SELECT d.pushToken FROM Device d WHERE d.pushToken IS NOT NULL AND d.user.locked=false;</code>
            </p>
            </br>
        </div>
        <div class="col-md-12 column">
            <form name="form" class="css-form" novalidate>
                <div class="form-group">
                    <label for="query">Query</label>
                    <textarea class="form-control" id="query" ng-model="query.query" placeholder="Enter query"
                              required/>
                    </br>
                    <label for="dryRun">Dry Run</label>
                    <input id="dryRun" type="checkbox" ng-model="query.dryRun"/> <br/>
                </div>
                <button ng-click="runQuery(query)" class="btn btn-default">Execute</button>
            </form>
            </br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 column">
            <p><strong>Query Result</strong></p>
            <div style="width: 100%; overflow: auto; max-height:300px; margin-right: 18px;">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Token</th>
                        <th>Device Platform</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="r in queryResult.content">
                        <td>{{ r.token }}</td>
                        <td>{{ r.deviceType }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6 column">
            <p><strong>Existing Tags</strong></p>

            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Tag</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="tag in tags">
                        <td>{{ tag }}</td>
                        <td>
                            <button class="btn btn-xs" ng-click="open(tag)">use</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>
