<div class="container" ng-controller="PushController">
    <div class="page-header">
        <h1>Push - Tags</h1>
    </div>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <div class="row">
        <div class="col-md-12 column">
            <p>
                Here tags can be created and deleted. A tag must be created before devices can be tagged with it.
                <code>Caution: deleting might take some time as tags can be associated with many devices</code>
            </p>
            </br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 column">
            <p><strong>Existing Tags</strong></p>
            <div>
                <table class="table">
                    <tr ng-repeat="tag in tags">
                        <td>{{ tag }}</td>
                        <td><a ng-click="open(tag)">delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6 column">
            <p><strong>Create Tag</strong></p>
            <form name="form" class="css-form" novalidate>
                New tag:
                <input class="form-control" type="text" ng-model="tag" name="uName" required /><br />
                <button ng-click="createTag(tag)" class="btn btn-default">Create</button>
            </form>
        </div>
    </div>

    <script type="text/ng-template" id="DeleteModal.html">
        <div class="modal-header">
            <h3>Delete Tag</h3>
        </div>
        <div class="modal-body">
            <p>Really delete tag <strong>{{ tag }}</strong>?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>
