<div class="container" ng-controller="PushController">
    <div class="page-header">
        <h1>Push - Push Notification</h1>
    </div>
    <div ng-show="error" class="alert alert-danger">{{ errorMessage }}</div>
    <div class="row">
        <div class="col-md-12 column">
            <p>
                Simple notification push to a single tag or segment. If "dry run" is checked Urban Airship's push
                validate will be called.
            </p>
            </br>
        </div>
    </div>

    <form name="form" class="css-form" novalidate role="form">
        <div class="row">
            <div class="col-md-2 column">
                <div class="form-group">
                    <label>Audience</label>
                    <br/>
                    <input name="audienceType" type="radio" value="all" ng-click="setAudienceToAll()"
                           ng-model="push.audienceType"/> All <br>
                    <input name="audienceType" type="radio" value="tag" ng-click="getAllTags()"
                           ng-model="push.audienceType"/> Tag <br>
                    <input name="audienceType" type="radio" value="segment" ng-click="getAllSegments()"
                           ng-model="push.audienceType"/> Segment <br>
                    <p ng-show="form.audienceType.$invalid && !form.audienceType.$pristine" class="help-block">Audience type is required.</p>
                </div>
            </div>
            <div class="col-md-10 column">
                <div class="form-group" ng-show="tags == null && segments == null">
                    <input ng-model="audienceName" class="form-control" type="hidden" value="all" ng-model="push.audienceName"
                            ngRequired="tags == null && segments == null"/>
                </div>
                <div class="form-group" ng-show="tags != null">
                    <label>Tag</label>
                    <select name="audienceName" class="form-control" ng-model="push.audienceName"ng-options="t for t in tags"
                            ngRequired="tags != null">
                        <option value="">Select tag</option>
                    </select>
                    <p ng-show="form.audienceName.$invalid && !form.audienceName.$pristine" class="help-block">Tag is required.</p>
                </div>
                <div class="form-group" ng-show="segments != null">
                    <label>Segment</label>
                    <select name="audienceName" class="form-control" ng-model="push.audienceName" ng-options="s.id as s.display_name for s in segments"
                            ngRequired="segments != null">
                        <option value="">Select segment</option>
                    </select>
                    <p ng-show="form.audienceName.$invalid && !form.audienceName.$pristine" class="help-block">Segment is required.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 column">
                <div class="form-group">
                    <label>Device type</label>
                    <select name="deviceType" class="form-control" ng-model="push.deviceType"
                            ng-options="d for d in deviceTypes" required>
                        <option value="">Select device type</option>
                    </select>
                    <p ng-show="form.deviceType.$invalid && !form.deviceType.$pristine" class="help-block">Device type is required.</p>
                </div>
                <div class="form-group">
                    <label>Alert</label>
                    <input class="form-control" type="text" ng-model="push.alert" name="alert" required/>
                    <p ng-show="form.alert.$invalid && !form.alert.$pristine" class="help-block">Alert is required.</p>
                </div>
                <div class="form-group">
                    <label>
                        <input id="dryRun" type="checkbox" ng-model="push.dryRun"/> dry run
                    </label>
                   <p class="help-block">uncheck to really perform the operation</p>
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-default" ng-click="execPush(push)">
                    Push
                </button>
            </div>
        </div>
    </form>

    <br/>

    <div class="row">
        <div class="col-md-6 column" ng-show="pushRequest">
            <p>Push request:</p>
            <pre>{{ pushRequest }}</pre>
        </div>
        <div class="col-md-6 column">
            <div ng-show="pushResult">
                <p>Push result:</p>
                <div class="alert alert-info">
                    <pre>{{ pushResult }}</pre>
                </div>
            </div>
            <div ng-show="pushError">
                <p>Push error:</p>
                <div class="alert alert-danger">
                    <pre>{{ pushError }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
