<div class="container" ng-controller="SegmentController">
    <div class="page-header">
        <h1>Push - Segments</h1>
    </div>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <div class="row">
        <div class="col-md-12 column">
            <p>
                Here segements can be created and deleted.
            </p>
            </br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 column">
            <p><strong>Existing Segments</strong></p>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="segment in segments">
                            <td>{{ segment.display_name }}</td>
                            <td>{{ segment.creation_date }}</td>
                            <td>{{ segment.modification_date }}</td>
                            <td><button  class="btn btn-xs" ng-click="open(segment)">delete</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 column">
            <p><strong>Create Segment</strong></p>
            <form name="form" class="css-form" novalidate>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" ng-model="segment.display_name" name="display_name" required />
                    <p ng-show="form.display_name.$invalid && !form.display_name.$pristine" class="help-block">Name is required.</p>
                </div>
                 <div class="form-group">
                    <label>Tag</label>
                    <select name="tag" class="form-control" ng-model="segment.tag" ng-options="t for t in tags" required>
                        <option value="">Select tag</option>
                    </select>
                    <p ng-show="form.tag.$invalid && !form.tag.$pristine" class="help-block">Tag is required.</p>
                </div>
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-default" ng-click="createSegment(segment)">Create</button>
            </form>
        </div>
    </div>

    <script type="text/ng-template" id="DeleteModal.html">
        <div class="modal-header">
            <h3>Delete Segment</h3>
        </div>
        <div class="modal-body">
            <p>Really delete segment <strong>{{ segment.display_name }} from {{ segment.creation_date }}</strong>?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>
