<div class="container" ng-controller="TaggingController">
    <div class="page-header">
        <h1>Push - Tag Devices</h1>
    </div>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <div class="row">
        <div class="col-md-12 column">
            <p>
                Many Devices can be tagged here. To tag the devices a JPQL query must be given which results in a list of
                devices. The JPQL query must be entered starting from the keyword <code>FROM</code>. The query will be executed with a
                leading <code>SELECT DISTINCT d</code> or <code>SELECT COUNT (DISTINCT d.id)</code>. The tagging is then executed in chunks of 1000 devices.
            </p>
            <p>
                Some Example queries:</br>
                <code>FROM Device d WHERE d.pushToken IS NOT NULL AND d.user.locked=false;</code>
            </p>
            </br>
        </div>
        <div class="col-md-12 column">
            <form name="form" class="css-form" novalidate role="form">
                <div class="form-group">
                    <label for="tag">Tag</label>
                    <select id="tag" multiple class="form-control" ng-model="query.tag">
                        <option ng-repeat="tag in tags">{{ tag }}</option>
                    </select>
                <div>
                <div class="form-group">
                    <label for="query">Query</label>
                    <textarea class="form-control" id="query" ng-model="query.query" placeholder="Enter query" required></textarea>
                </div>
                <div class="form-group">
                    <label>
                        <input id="dryRun" type="checkbox" ng-model="query.dryRun"/> dry run
                    </label>
                    <p class="help-block">uncheck to really perform the operation</p>
                </div>
                <button ng-click="runTagging(query)" class="btn btn-default">Execute</button>
                <button ng-click="runSampling(query)" class="btn btn-default has-spinner">
                    <span class="spinner"><i class="icon-spin icon-refresh"></i>Sample Data</span>
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 column">
            <p><strong>Query Result</strong></p>
            <p>Count: {{ queryResult.content.count }}</p>
            <div style="width: 100%; overflow: auto; max-height:300px; margin-right: 18px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>User Id</th>
                            <th>User Agent</th>
                            <th>Created At</th>
                            <th>Push Token</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="r in queryResult.content.rows">
                            <td>{{ r.id }}</td>
                            <td>{{ r.userId }}</td>
                            <td>{{ r.deviceUserAgent }}</td>
                            <td>{{ r.createdAt }}</td>
                            <td>{{ r.pushToken }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
